<% include ./partials/header %>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><%= currentUser.username %></h1>
    <% if(currentUser.role === 2) { %>
    <p class="lead">Ana Sayfaya Hoşgeldin!, Oyunlarını Görüntülemek için <a href="/games">buradan devam edin!</a></p>
    
    <% } else if (currentUser.role === 3) { %>
    <p class="lead">Ana Sayfaya Hoşgeldin!, Kullanıcıları Görüntülemek için <a href="/users">buradan devam edin!</a></p>
  </div> <% } else if(currentUser.role === 1) { %>
    <p class="lead">Ana Sayfaya Hoşgeldin!, Karakterini Görüntülemek için <a href="/character/<%= currentUser._id %>">buradan devam edin!</a></p>
    <% } else {%> 
    <p class="lead">Kullanıcı tanımlanamadı!</p> <% } %>
</div>
<% include ./partials/footer %>