<% include ./partials/header %>


<div id="login-form" class="container">
    <h1>Giriş</h1><hr>
<form action="/login" method="POST">
    <div class="form-group">
    <input class="form-control form-control-lg" type="text" name="username" placeholder="Kullanıcı Adı">
    </div>
    <div class="form-group">
    <input class="form-control form-control-lg" type="password" name="password" placeholder="Şifre">
    </div>
    <input class="btn btn-dark" type="submit" value="Giriş!">
</form>

</div>

<% include ./partials/footer %>