.new-form{
    width: 50%;
    margin:25px auto;
}

#login-form{
    margin: 50px auto;
    padding: 30px;
        background-color: #fdf8f8;
    width: 500px;
}
#login-form .form-control input{
    width: 10px;
}

@media only screen and (max-width: 1200px) {
    .new-form{
        width: 90%;
        margin:15px auto;
    }
}