.new-form{
    width: 50%;
    margin:25px auto;
}

#login-form{
    margin: 50px auto;
    padding: 30px;
    background-color: #fdf8f8;
    width: 500px;
}
#login-form .form-control input{
    width: 10px;
}

#user-table{
    margin-top: 25px;
}

.jumbotron {
    margin-top: 25px;
}

.hidden{
    display: none;
}

#pills-home{

    padding: 10px;
}

.section-comments{
    /* background-color: lightcoral; */
    width: 100%;
}

#section-content {
    font-family: 'Raleway', sans-serif;
}

textarea{
    width: 100% !important;
}

.well{
    text-align: right;
}

#comments-well{
    background-color: #e9ecef99;;
    padding: 20px;
    min-height: 100px;
    min-width: 100%;
}

.user-comment{
    margin-bottom: 8px;
}

.comment-delete-form{
    display: inline;
}

/* read more & less */
.morecontent span {
    display: none;
}
.morelink {
    display: block;
    color: lightslategray;
    font-size: 0.7em;
    text-align: right;
}
.morelink:hover {
    color: lightslategray;
    text-decoration: none;
}

h4>span{
    font-size: .7em;
    color: lightgray;
    font-style: italic;
}

@media only screen and (max-width: 1200px) {
    .new-form{
        width: 90%;
        margin:15px auto;
    }
    
    #login-form{
    margin: 50px auto;
    padding: 30px;
    background-color: #fdf8f8;
    width: 90%;
}

    .jumbotron {
    margin-top: 15px;
}

}