<% include ../partials/header %>

<div class="container">
<header class="jumbotron">
    <div class="container">
    <h1>AD&D 2<sup>nd</sup> Edition Game Track</h1>
    <p>View All of the Games Worldwide!</p>
    <p> <a href="/games/new" class="btn btn-primary btn-lg">Add New Game</a></p>
    </div>
</header>


        <h4>All Games Will Be Here</h4>

</div>

<% include ../partials/footer %>