<% include ../partials/header %>

<div class="container-fluid">
    <div class="row">
        <div class="new-form">
            <form action="/games" method="POST">
                <div class="form-group">
                    <input class="form-control form-control-lg" type="text" name="name" placeholder="Name Of The Game">
                </div>
                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="dm@email.com">
                </div>
                <div class"form-group" style="margin-bottom: 15px;">
                    <textarea class="form-control" rows="4" name="description" placeholder="Write a short descriotion here"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary float-right">Create Game!</button>    
                </div>
            </form>
        </div>
    </div>
</div>

<% include ../partials/footer %>