<% include ../partials/header %>

<div class="container">
    
    <table id="user-table" class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Kullanıcı Adı</th>
                <th>Kullanıcı Rolü</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
        <% users.forEach(function(user){%>
        <tr>
            <td><%= user.username %></td>
            <td class="role"><%= user.role %></td>
            <td>
                <form action="/users/<%= user._id %>?_method=DELETE" method="POST">
                <button class="btn btn-outline-danger btn-sm">Sil</button>
                </form>
                </td>
        </tr>
        
        <% }) %>
        </tbody>
    </table>
    
    
<!-- Small modal -->
<button type="button" class="btn btn-outline-dark float-right" data-toggle="modal" data-target=".bd-example-modal-sm">Kullanıcı Ekle</button>

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
     <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Kullanıcı Ekle</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/users" method="POST">
          <div class="form-group">
            <label for="user-name" class="col-form-label">Kullanıcı Adı:</label>
            <input type="text" class="form-control" id="user-name" name="username" required>
          </div>
          <div class="form-group">
            <label for="password" class="col-form-label">Şifre:</label>
            <input type="password" class="form-control" id="password" name="password" required>
          </div>
     <div class="form-group">
      <label  for="inlineFormCustomSelect">Rolü</label>
      <select class="form-control" name="role" id="inlineFormCustomSelect">
        <option selected>Seçiniz...</option>
        <option value="2">ST</option>
      </select>
          </div>
          <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
        <button type="submit" class="btn btn-outline-success">Kullanıcı Ekle</button>
      </div>
        </form>
      </div>
      
    </div>
  </div>
</div>
    
</div>
<% include ../partials/footer %>

<script>
    // A $( document ).ready() block.
    $( document ).ready(function() {
        $('.role').each(function( role ){
        var roleNo = $(this).text();
         $(this).text(whoIs(roleNo));
        });
    });
     
    
    function whoIs(elem) {
        switch (elem) { 
	case "3": 
		return 'Administrator';
		break;
	case "2": 
		return 'DM';
		break;
	case "1": 
		return 'Player';
		break;
	default:
		alert('Nobody!');
}
    }
</script>