<% include ../partials/header %>

<div class="container">
    <table class="char-sheet">
        <tr><td><%= char._id %></td><td><img class="sheet-logo" src="https://i2.wp.com/www.pvv.ntnu.no/~leirbakk/rpg/adnd/graphics/adnd_logo.gif"></td></tr>
    </table>
        
</div>

<% include ../partials/gamesFooter %>